h2 {
  font-weight: bold;
}

th, td {
  padding: 0.5rem !important;
}

th {
  vertical-align: middle !important;
}

td {
  vertical-align: top !important;
}

.anchor {
  padding-top: 90px;
}

.first-anchor {
  margin-top: -80px;
}

.bootstrap-table {
  font-size: 14px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-name {
  width: 200px;
  min-width: 100px;
}

.col-type,
.col-intl,
.col-stage {
  width: 90px;
}

.col-eligbility,
.col-support {
  min-width: 130px;
}

.col-description {
  min-width: 200px;
}

.offcanvas-button {
  color: #613dc1;
  font-weight: bold;
  background-color: #fff;
  border: none;
  border-bottom: 2px dashed #613dc1;
  margin: 10px 0;
}

.offcanvas-button:hover{
  color: #858ae3;
  border-bottom-color: #858ae3;
}

.offcanvas {
  width: 40%;
  min-width: 400px;
  max-width: 700px;
}

.offcanvas dd ul {
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

.offcanvas dd {
  margin-bottom: 1.25rem;
}

/*.pagination-detail .dropdown-item,
.page-link {
  color: #613dc1;
}

.pagination-detail button.show,
.pagination-detail button:hover,
.pagination-detail button:active,
.pagination-detail .dropdown-item:hover,
.page-item .page-link:hover {
  color: #fff;
  border-color: #858ae3;
  background-color: #858ae3;
}

.pagination-detail button,
.pagination-detail .dropdown-item.active,
.page-item.active .page-link {
  color: #fff;
  border-color: #613dc1;
  background-color: #613dc1;
}*/